.game{
    width: 600px;
    height: 200px;
    border-bottom: 1px  solid  black ;
    margin: auto;
}
#dino {
width: 25px;
height: 50px;
background-image: url(/image/dino.png);
background-size: 50 px 50 px;
position: relative;
top: 150px;
}
#cactus{
    width: 20px;
    height: 30px;
    background-image: url(/image/png-transparent-game-off-game-jam-gamedev-net-video-game-cactus-game-angle-text.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 50px;
    animation: cactusMov 2s infinite linear;

}
@keyframes cactusMov{ 
    0% { 
        left: 580px;
    }
    100% {
        left:–20px;
    }
}
.jump{
    animation: jump 0.5s linear;
    
}
@keyframes jump {
    0%{
        top: 150px;
    }
    30% {
        top: 130px;
    }
    50%{
        top: 80px;
    }
    80%{
        top: 130px;
     }
    100% {
        top: –20px;
    }
}
